---
const { node } = Astro.props;
--- 

 <h1>{node.title}</h1>
<!-- Display categories links if node has terms -->
 { node.categories ?
    node.categories.nodes.map(category => (<a class='term-link' href={category.uri}>{category.name}</a>)) :     
    null 
 }
<!-- Only show date if node is a Post -->
 {
    node.__typename === 'Post' ? 
    (<p class='post-details'>
        Posted on <time datetime={node.date}>{new Date(node.date).toLocaleDateString()}</time>
    </p>):
    null
 }
 <img class='featured-image' src={node.featuredImage?.node?.mediaItemUrl} alt="">
 
 <article set:html={node.content}>
 </article>

 <style is:global>
    .wp-block-image img {
            width: 100%;
            height: auto;  
    }
</style>
<style>
    img.featured-image {
        width:100%;
        border-radius:  10px;
    }
    .post-details {
        color: darkgrey;
        font-weight:300;
    }
    a.term-link {
        display: inline-block;
        height: 1.5rem;
        padding: .75rem;
        margin: .5rem .5rem .5rem 0;
        background: linear-gradient(90deg,#0076dc 0%,#7a1ba6 100%);
        color: #fff;
        border-radius: 10px;
        font-weight: bold;
    }
</style>
