---
import MainLayout from "../layouts/MainLayout.astro";
import { homePagePostsQuery } from "../lib/api";

const data = await homePagePostsQuery();
const posts = data.posts.nodes;

---

<MainLayout>
	<main>
		{
			posts.map(post => {
				return (
					<div>
						<a href={post.uri} >{post.title}</a>
						<p set:html={post.excerpt}></p> 
				        { post.categories.nodes.map(category => {
							return (<a href={category.uri}>{category.name}</a>)
						})}
					</div>
				)
			})
		}
	</main>
</MainLayout>
