---
const { post } = Astro.props;
---

<article>
    <a class='post-link' href={post.uri} aria-label={post.title}>
        <h3>{post.title}</h3>    
        <section>
            <img src={post?.featuredImage?.node?.mediaItemUrl} alt="">
            <div>
                <p set:html={post.excerpt}></p> 
                { post.categories.nodes.map(category => {
                    return (<a class='term-link' href={category.uri}>{category.name}</a>)
                })}
                <span><time datetime={post.date}>{new Date(post.date).toLocaleDateString()}</time></span>
            </div>
        </section>
    </a>
</article>

<style>
    article {
        border: 1px solid lightgray;
        border-radius: 10px;
        margin: 1.5rem 0;
        padding: .5rem 1rem 1rem 1rem;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

    }
    article:hover {
        box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);  
    }
    img {
        width: 100%;
        border-radius:  10px;
    }
    section { 
        display: grid;
        grid-template-columns: 30% auto;
        gap: 1rem;
    }
    h3 {
        font-size: 1.5rem;
        font-weight: bold;

    }
    a.post-link {
        text-decoration: none;
        color: #000;
    }
    a.term-link {
        display: inline-block;
        height: 1.5rem;
        padding: .75rem;
        margin: .5rem .5rem .5rem 0;
        background: linear-gradient(90deg,#0076dc 0%,#7a1ba6 100%);
        color: #fff;
        border-radius: 10px;
        font-weight: bold;
    }
    span {
        color: darkgrey;
        font-weight:300;
    }
    
</style>